[submodule "gratspiel.virus"]
	path = gratspiel.virus
	url = https://git.mcdonelts.city/Jakobsoft/gratspiel.virus.git
[submodule "timemachine"]
	path = timemachine
	url = https://git.mcdonelts.city/Jakobsoft/timemachine.git
[submodule "accounts"]
	path = accounts
	url = https://git.mcdonelts.city/Jakobsoft/accounts.git
[submodule "stellarvideo"]
	path = stellarvideo
	url = https://git.mcdonelts.city/Jakobsoft/stellarvideo.git