[submodule "gratspiel.virus"]
	path = gratspiel.virus
	url = https://git.mcdonelts.city/WWAGO-Inc/gratspiel.virus.git
[submodule "timemachine"]
	path = timemachine
	url = https://git.mcdonelts.city/WWAGO-Inc/timemachine.git
[submodule "accounts"]
	path = accounts
	url = https://git.mcdonelts.city/WWAGO-Inc/accounts.git
